<h1>About codeStory and the developers behind it</h1>

<p>This app is designed to allow developers to share their progects with other developers.  Whether it be a game, website, or anything else you've coded share it here and see what the community thinks.  You can like posts and comment on them, checkout the completed application, or visit the user's github repo and see the actual code.  Follow your favorite coders or checkout what's popular.</p>

<hr>

<h3>Who are we?</h3>

<br>

<h5>Mark Iudice</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/Photo_Mark.png">
    </div>
    <div class="col-md-8">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi quos reiciendis officiis, totam minus voluptas ipsam laudantium cumque optio incidunt eos dicta! Voluptate, impedit exercitationem nisi est explicabo aspernatur quam.</p>
    </div>
</div>

<hr>

<h5>Dennis Rodriguez-Ramos</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/placeholder.png">
    </div>
    <div class="col-md-8">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi quos reiciendis officiis, totam minus voluptas ipsam laudantium cumque optio incidunt eos dicta! Voluptate, impedit exercitationem nisi est explicabo aspernatur quam.</p>
    </div>
</div>

<hr>

<h5>Seungha Kong (Ethan)</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/placeholder.png">
    </div>
    <div class="col-md-8">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi quos reiciendis officiis, totam minus voluptas ipsam laudantium cumque optio incidunt eos dicta! Voluptate, impedit exercitationem nisi est explicabo aspernatur quam.</p>
    </div>
</div>

<hr>

<h5>Juan Valdivia</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/placeholder.png">
    </div>
    <div class="col-md-8">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi quos reiciendis officiis, totam minus voluptas ipsam laudantium cumque optio incidunt eos dicta! Voluptate, impedit exercitationem nisi est explicabo aspernatur quam.</p>
    </div>
</div>

<hr>

<h5>Armando</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/placeholder.png">
    </div>
    <div class="col-md-8">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi quos reiciendis officiis, totam minus voluptas ipsam laudantium cumque optio incidunt eos dicta! Voluptate, impedit exercitationem nisi est explicabo aspernatur quam.</p>
    </div>
</div>