{{!-- CSS --}}
<link rel="stylesheet" type="text/css" href="public/assets/css/style.css">

<h1>About codeStory and the developers behind it</h1>

<p>This app is designed to allow developers to share their projects with other developers.  Whether it be a game, website, or anything else you've coded.  Share it here and see what the community thinks.  You can like posts and comment on them, checkout other developer's completed applications, or visit the user's github repo and see the actual code.  Follow your favorite coders or checkout what's popular.</p>

<hr>

<h3>Who are we?</h3>

<br>

<h5>Mark Iudice</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/Photo_Mark.png">
    </div>
    <div class="col-md-8">
        <p>Project Team Lead.</p>
        <p>I am a full stack developer.</p>
        <p>Learned to code at Rutgers coding bootcamp.  Been coding since ealry 2018.</p>
        <p>Located in NJ</p>
        <a href="https://github.com/mark5046">Github</a> 
    </div>
</div>

<hr>

<h5>Dennis Rodriguez-Ramos</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/placeholder.png">
    </div>
    <div class="col-md-8">
        <p>Project Backend Developer.</p>
        <p>I am a full stack developer.</p>
        <p>Learned to code at Rutgers coding bootcamp.  Been coding since ealry 2018.</p>
        <p>Located in NJ</p>
        <a href="https://github.com/ventolucci">Github</a> 
    </div>
</div>

<hr>

<h5>Seungha Kong (Ethan)</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/placeholder.png">
    </div>
    <div class="col-md-8">
        <p>Project Backend Developer.p>
        <p>I am a full stack developer.</p>
        <p>Learned to code at Rutgers coding bootcamp.  Been coding since ealry 2018.</p>
        <p>Located in NJ</p>
        <a href="https://github.com/kseha1080">Github</a> 
    </div>
</div>

<hr>

<h5>Juan Valdivia</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/Juan_Valdivia.png">
    </div>
    <div class="col-md-8">
        <p>Project Frontend Developer.</p>
        <p>I am a full stack developer.</p>
        <p>Learned to code at Rutgers coding bootcamp.  Been coding since ealry 2018.</p>
        <p>Located in NJ</p>
        <a href="https://github.com/jdv0194">Github</a> 
    </div>
</div>

<hr>

<h5>Armando Vargas</h5>
<div class="row">
    <div class="col-md-4">
        <img src="/images/devPics/placeholder.png">
    </div>
    <div class="col-md-8">
        <p>Project Backend Developer.</p>
        <p>I am a full stack developer.</p>
        <p>Learned to code at Rutgers coding bootcamp.  Been coding since ealry 2018.</p>
        <p>Located in NJ</p>
        <a href="https://github.com/MandoMalchus">Github</a> 
    </div>
</div>