.video-container video {
  position: absolute;
  z-index: -1;
  bottom: 0;
  filter: blur(5px);
  width: 100%;
}
.filter {
  width: 100vw;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.405);
}

body {
  background-color: snow;
  padding-bottom: 1000px;
}

.navbar-main {
  width: 100%;
  height: 80px;
  background-color: white;
  position: absolute;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-shrink {
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

div.name {
  z-index: 5;
}

.logo {
  width: 80px;
  margin-left: 80px;
  margin-top: 10px;
  border-right: solid 2px black;
  padding-right: 10px;
}

.logo-shrink {
  width: 60px;
  margin-left: 180px;
  margin-top: 10px;

  padding-right: 10px;
}

h1 {
  position: absolute;
  left: 13%;
  top: 0;
  font-family: "Berkshire Swash", cursive;
}

h2 {
  position: absolute;
  color: white;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#search {
  text-align: center;
  /* margin-top: 40px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  outline: 0;
  padding: 3px 10px 3px 26px;
  z-index: 2;
}

.search-glyph {
  position: absolute;
  z-index: 2;
  right: 185px;
  top: 5px;
}

#panel {
  margin-top: 100px;
  width: 500px;
  height: 600px;
  padding-top: 60px;
}

.comment {
  outline: none;
  border: none;
  margin-top: 20px;
}

.nav-links {
  position: absolute;
  right: 10%;
  top: 5%;
}
a {
  margin: 10px;
  font-family: "Roboto";
}

div.nav-links {
  margin-top: 10px;
}

#post {
  width: 400px;
  background-color: white;
  margin-bottom: 10px;
}
.username {
  font-weight: bold;
}
.img-post {
  width: 400px;
}
p {
  margin-top: 20px;
  color: white;
  z-index: 2;
}

#typewriter {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  width: 80%;
}

.upper-video {
  width: 100%;
  height: 100px;
  background-color: black;
  position: absolute;
}

.lower-video {
  width: 100%;
  height: 100px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.landing-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

#about-us {
  padding: 60px;
}

.modal-content {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.signup-p {
  color: black;
  font-family: "Roboto";
}

.about-us {
  color: black;
}

h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.feed-text {
  color: black;
  font-family: "Roboto";
}

img {
  width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.712);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#profile {
  margin-top: 100px;
  max-width: 975px;
  padding: 60px;
}

.profile-img {
  width: 150px;
}

.bio {
  text-align: left;
}

.bio-p {
  color: black;
}

.bio-list {
  list-style: none;
}
.whatever {
  color: black;
}

#content-input {
  width: 100%;
  text-overflow: ellipsis;
}